/* Définition des polices personnalisées --------------------------------------------------
-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'retro_poste_glyphes';
    src: url('../fonts/retro_poste_glyphes.ttf?t2dtby') format('truetype'),
         url('../fonts/retro_poste_glyphes.woff?t2dtby') format('woff'),
         url('../fonts/retro_poste_glyphes.svg?t2dtby#retro_poste_glyphes') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments de base ---------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

*, 
*::before,
*::after { box-sizing: border-box }

html, body { 
    margin: 0; 
    height: 100%;
}

body {
    font-family: 'noto_sansregular';
    background-color: #ebe3d7;
}

header { padding: 20px }

h2, h3 { color: #b00000 }

a, label { 
    color: #696560;
    font-size: 14px;
}

a[aria-label] { text-decoration: none }

input { border: none }

input[name^="stay"] { display: none }

img { 
    max-width: 100%;
    height: auto;
}

/* layout -------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/* l-container */

.l-container {
    margin: auto;
    position: relative;

    overflow: hidden;
    max-width: 1000px;
}

/* l-header */

.l-header__btn--right,
.l-header__btn--left {
    position: absolute;
    top: 15px;
    z-index: 1;
    cursor: pointer;
}

.l-header__btn--right { right: 15px }
.l-header__btn--left { left: 15px }

input.l-header__btn--right, input.l-header__btn--left {
    width: 40px;
    height: 32px;
    
    z-index: 2;
    opacity: 0;
}

/* l-nav  */

.l-nav {
    position: absolute;
    top: 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    width: 50%;
    overflow: hidden;
}
    .l-nav--main { 
        transform: translateX(100%);
        right: 0;
    }

    .l-nav--secondary { 
        transform: translateX(-100%);
        left: 0;
    }

/* is-toggle */

.is-toggle-right:checked ~ .l-nav--main,
.is-toggle-left:checked ~ .l-nav--secondary { transform: none }

.is-toggle-right:checked ~ .header__btn--close.l-header__btn--right,
.is-toggle-left:checked ~ .header__btn--close.l-header__btn--left { 
    opacity: 1;
    color: black;
}

.is-toggle-left:checked ~ .header__btn.l-header__btn--left,
.is-toggle-right:checked ~ .header__btn.l-header__btn--right { opacity: 0 }


/* Module ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/* sort */

.sort { 
    background-color: #d70000;
    margin: 4px;
    padding: 5px;
}
    .sort__header { 
        color: white;
        text-align: center; 
        margin: 5px;
    }

    .sort__nbr, .sort__btn, .sort__dropdown {
        /*width: 70%;*/
        /*margin: auto;*/
        margin: 10px;
    }

    .sort__nbr { 
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.5);
        /*margin-bottom: 10px;*/
        text-align: center;
    }

    .sort__btn { 
        background-color: #ebe3d7; 
        border-radius: 4px;
        padding: 5px;
    }

    #close-sort:checked ~  .sort__dropdown { display: none }
    #open-sort:checked ~  .sort__dropdown { display: block }

    #close-sort:checked ~ .sort__btn[for^="close"] { display: none }
    #close-sort:checked ~ .sort__btn[for^="open"] { display: block }

    #open-sort:checked ~ .sort__btn[for^="open"] { display: none }
    #open-sort:checked ~ .sort__btn[for^="close"] { display: block }

    .sort__dropdown { margin-top: 3px }

@media all and (min-width: 600px)
{
    .sort__header, .sort__nbr, .sort__btn {
        display: inline-block;
    }
}

/* form */

.form__group { margin-top: 15px }

.form__group * { display: block }
.form__group--inline * { display: inline }

.form__field { 
    height: 20px;
    width: 100%;
    max-width: 190px;
}

.form__submit { margin: 15px auto }

/* modal-window */

.modal-window {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    display: none;

    background-color: inherit;
    z-index: 10000;
}

.modal-window--overlay {  }

:target.modal-window { display: block }

    .modal-window__close { 
        position: absolute;
        top: 10px; right: 10px;
    }

    .modal-window__header { text-align: center }

    .modal-window__content { 
        max-width: 256px;
        margin: 10px auto 0;
    }

/* login-register */

.login-register {
    display: flex;
    justify-content: space-between;
}

    .login-register a { text-decoration: none }
    .login-register a:hover { color: red }

/* header */ 

.header {}
    
    .header__btn, .header__btn--close {
        font-size: 32px;

        color: #b00000;
        background: none;
    }

    .header__btn--close {
        transition: 200ms;
        opacity: 0;
    }

    .header__logo { 
        display: block;
        width: 125px;
        margin: 0 auto; 
    }

/* drop-down */

.drop-down, 
.drop-down__btn { display: inline-block }

    .drop-down__btn { cursor: pointer }

    .drop-down__sub-list {
        position: relative;
        left: 0; right: 0;
        top: 0;
    }

    .drop-down__sub {
        position: absolute;
        width: 100%;

        display: none;
        z-index: 1000;
    }

/* search */

.search {
    display: block;
    margin: auto;
    padding-top: 30px;
    max-width: 500px;
}
    .search__bar {
        display: flex;
        height: 2em; 
        line-height: 2em;
    }

    .search__btn,
    .search__input {
        border: none;
        outline: 0;
    }

    .search__btn { 
        flex: 1;
        cursor: pointer;
        text-align: center;
    }

    .search__input { flex: 8 }

    .search__btn--filter { 
        color: crimson;
        background-color: white;
    }

/* suggestion-list */ 

.suggestion-groupe { background-color: white }

    .suggestion-groupe__header {
        padding: 10px;
        border-top: 1px solid buttonface;
        color: dimgray;
    }

.suggestion-list li {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.suggestion-list li:hover, li.result_focus { 
    color: #b00000;
    background-color: buttonface;
    cursor: pointer;
} 

.suggestion-info {
    color: dimgray;
    font-weight: normal;
    padding-top: 5px;
    margin: 0;
}

.suggestion-list li:hover .suggestion-info { color: rgb(80, 80, 80) }

/* menu */
    
.menu {
    list-style-type: none;
    padding: 0; margin: 0; 
}

/* nav */

.nav {
    background-color: white;
    padding: 30px;
}  
    .nav__close {
        display: block;
        padding: 26px 0;
    }

    .nav__menus {
        list-style-type: none;
        padding: 0; margin: 0; 
    }

    .nav__menus a { 
        text-decoration: none;
        font-size: 20px; 
        font-weight: bold;
       
        display: block;
        color: black;
        padding: 10px;
        text-align: center;
    }

    .nav__menus a:hover { color: #b00000 } 

/* btn */

.btn, .search-bar__btn {
    outline: 0;
    border: none; 
    cursor: pointer;
    display: block;
}
    
    .btn--primary { 
        background-color: #b00000;
        color: white; 
        padding: 10px;
        border-radius: 2px;
    }

    .btn--facebook, .btn--google {
        border-radius: 2px;
        text-align: center;
        color: white;
        padding: 10px;
        width: 100%;
    }

    .btn--facebook { 
        margin-top: 20px; 
        background-color: #3b5998 
    }

    .btn--google { 
        background-color: #dd4b39;
        margin-top: 30px; 
    }

        .btn--facebook > *, 
        .btn--google > * { padding: 5px }

    .btn--large { font-size: 24px }

/* icon */

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'retro_poste_glyphes' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .icon--ctrl-left:before { content: "\e905" }
    .icon--menu:before { content: "\e900" }
    .icon--ctrl-down:before { content: "\e901" }
    .icon--caret-down:before { content: "\e902" }
    .icon--eye:before { content: "\e903" }
    .icon--time:before { content: "\e904" }
    .icon--user:before { content: "\e971" }
    .icon--search:before { content: "\e986" }
    .icon--ctrl-right:before { content: "\ea50" }
    .icon--filter:before { content: "\ea5b" }
    .icon--google-plus:before { content: "\ea8b" }
    .icon--facebook:before { content: "\ea90" }

/* special_link */

a.special-link { 
    color: #00005e;
    font-weight: bold;
}

/* thumbs */

.thumbs { 
    display: flex; /*Les enfants s'adaptent à leurs contenu.*/
    flex-wrap: wrap;
}

.lightbox__wrap { 
    margin: 5px; 
    line-height: 0;
}

.lightbox__wrap img { max-width: 100% }

.lightbox__thumb:hover { 
    cursor: pointer;
    transform: scale(1.01); 
    user-select: none;
}

.lightbox__wrap, 
.lightbox__thumb { position: relative; /*Permet l'accès de z-index.*/ }

/*Par defaut ou fermé*/
.lightbox--close.lightbox__wrap { z-index: 0 }
.lightbox--close .lightbox__thumb { z-index: 1 /*On clique sur thumb*/ }
.lightbox--close .lightbox__ghost { opacity: 0 }
.lightbox--close .lightbox__overlay { display: none }
.lightbox--close .lightbox__content { display: block }

/*Lorsque un element est ouvert*/
.lightbox--open.lightbox__wrap { z-index: 1 }
.lightbox--open .lightbox__thumb { z-index: -2 /*On clique sur l'overlay*/ }
.lightbox--open .lightbox__ghost { opacity: 1 }
.lightbox--open .lightbox__overlay { display: block }
.lightbox--open .lightbox__content { display: block }

.lightbox__ghost {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
}

.lightbox__overlay {
    position: fixed;
    top: -100%; bottom: -100%;
    right: 0; left: 0;

    background-color: rgba(0, 0, 0, 0.7);
    cursor: zoom-out;
}

.lightbox__content { 
    padding: 25px;
    background-color: white;
    line-height: 1em;
}

.lightbox__bar {
    position: absolute;
    left: 0; right: 0;
    top: 50%; 
    transform: translateY(-50%);
    line-height: 1em;
}

.lightbox__bar__btn {
    background-color: white;
    padding: 5px;
    cursor: pointer;

    user-select: none;
}

.lightbox__btn-next { float: right }
.lightbox__btn-back { float: left }

/* footer */ 

.footer {
    text-align: center;
    font-size: 12px;
    margin: 30px 15px;
}