/* Définition des polices personnalisées --------------------------------------------------
-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'retro_poste_glyphes';
    src: url('../fonts/retro_poste_glyphes.ttf?t2dtby') format('truetype'),
         url('../fonts/retro_poste_glyphes.woff?t2dtby') format('woff'),
         url('../fonts/retro_poste_glyphes.svg?t2dtby#retro_poste_glyphes') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments de base ---------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

*, 
*::before,
*::after { box-sizing: border-box }

html, body { 
    margin: 0; 
    height: 100%;
}

body {
    font-family: 'noto_sansregular';
    background-color: #ebe3d7;
}

header { padding: 20px }

h2, h3 { color: #b00000 }

a, label { 
    color: #696560;
    font-size: 14px;
}

a[aria-label] { text-decoration: none }

input { border: none }

input[name^="stay"] { display: none }

img { 
    max-width: 100%;
    height: auto;
}

/* layout -------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/* l-container */

.l-container {
    margin: auto;
    position: relative;

    overflow: hidden;
}

/* l-header */

.l-header__btn--right,
.l-header__btn--left {
    position: absolute;
    top: 15px;
    z-index: 1;
    cursor: pointer;
}

.l-header__btn--right { right: 15px }
.l-header__btn--left { left: 15px }

input.l-header__btn--right, input.l-header__btn--left {
    width: 40px;
    height: 32px;
    
    z-index: 2;
    opacity: 0;
}

/* l-nav  */

.l-nav {
    position: absolute;
    top: 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    width: 50%;
    overflow: hidden;
}
    .l-nav--main { 
        transform: translateX(100%);
        right: 0;
    }

    .l-nav--secondary { 
        transform: translateX(-100%);
        left: 0;
    }

/* is-toggle */

.is-toggle-right:checked ~ .l-nav--main,
.is-toggle-left:checked ~ .l-nav--secondary { transform: none }

.is-toggle-right:checked ~ .header__btn--close.l-header__btn--right,
.is-toggle-left:checked ~ .header__btn--close.l-header__btn--left { 
    opacity: 1;
    color: black;
}

.is-toggle-left:checked ~ .header__btn.l-header__btn--left,
.is-toggle-right:checked ~ .header__btn.l-header__btn--right { opacity: 0 }


/* Module ---------------------------------------------------------------------------
------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/* sort */

.sort { 
    background-color: #d70000;
    margin: 4px;
    padding: 5px;
}
    .sort__header { 
        color: white;
        text-align: center; 
        margin: 5px;
    }

    .sort__nbr, .sort__btn, .sort__dropdown {
        /*width: 70%;*/
        /*margin: auto;*/
        margin: 10px;
    }

    .sort__nbr { 
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.5);
        /*margin-bottom: 10px;*/
        text-align: center;
    }

    .sort__btn { 
        background-color: #ebe3d7; 
        border-radius: 4px;
        padding: 5px;
    }

    #close-sort:checked ~  .sort__dropdown { display: none }
    #open-sort:checked ~  .sort__dropdown { display: block }

    #close-sort:checked ~ .sort__btn[for^="close"] { display: none }
    #close-sort:checked ~ .sort__btn[for^="open"] { display: block }

    #open-sort:checked ~ .sort__btn[for^="open"] { display: none }
    #open-sort:checked ~ .sort__btn[for^="close"] { display: block }

    .sort__dropdown { margin-top: 3px }

@media all and (min-width: 600px)
{
    .sort__header, .sort__nbr, .sort__btn {
        display: inline-block;
    }
}

/* form */

.form__group { margin-top: 15px }

.form__group * { display: block }
.form__group--inline * { display: inline }

.form__field { 
    height: 20px;
    width: 100%;
    max-width: 190px;
}

.form__submit { margin: 15px auto }

/* modal-window */

.modal-window {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    display: none;

    background-color: inherit;
    z-index: 10000;
}

.modal-window--overlay {  }

:target.modal-window { display: block }

    .modal-window__close { 
        position: absolute;
        top: 10px; right: 10px;
    }

    .modal-window__header { text-align: center }

    .modal-window__content { 
        max-width: 256px;
        margin: 10px auto 0;
    }

/* login-register */

.login-register {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

    .login-register a { text-decoration: none }
    .login-register a:hover { color: red }

/* filter */

#close-filter:checked ~ form .filter__dropdown { display: none }
#open-filter:checked ~ form .filter__dropdown { display: block }

    #close-filter:checked ~ .filter__btn[for^="close"] { display: none }
    #close-filter:checked ~ .filter__btn[for^="open"] { display: block }

    #open-filter:checked ~ .filter__btn[for^="open"] { display: none }
    #open-filter:checked ~ .filter__btn[for^="close"] { display: block }

    .filter__dropdown { 
        position: absolute;
        left: 0; right: 0;
        top: 38px;
    }

/* search-bar */

.search-bar {
    display: flex;
    position: relative; 
    height: 33px;
    margin: 5px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

    .search-bar > form {
        display: flex;
        flex: 1;
    }

    .search-bar__input {
        outline: 0;
        border: none;

        flex: 1
    } 

    .search-bar__input::placeholder { color: #cccccc }
    .search-bar__input:focus { color: #b00000 }

    .search-bar__btn {
        margin: auto 0;
        padding: 0 5px;

        color: #b00000;
        background: none;
        /* depandant de btn */
    }

/* dropdown */

.dropdown  {
    max-height: 200px;

    background-color: white;
    border-radius: 5px;
    overflow: auto;
}
    .dropdown__menus { /* depandant de nav__menus */ }

        .dropdown__menus__item {
            padding: 10px 5px;
            display: block;
        }

        .dropdown__menus__item:hover {
            background-color: rgba(168, 0, 0, 0.8);
            color: white;
        }

/* header */ 

.header {}
    
    .header__btn, .header__btn--close {
        font-size: 32px;

        color: #b00000;
        background: none;
    }

    .header__btn--close {
        transition: 200ms;
        opacity: 0;
    }

    .header__logo { 
        display: block;
        width: 125px;
        margin: 0 auto; 
    }

/* nav */

.nav {
    background-color: white;
    padding: 30px;
}  
    .nav__close {
        display: block;
        padding: 26px 0;
    }

    .nav__menus, .dropdown__menus {
        list-style-type: none;
        padding: 0; margin: 0; 
    }

    .nav__menus a { 
        text-decoration: none;
        font-size: 20px; 
        font-weight: bold;
       
        display: block;
        color: black;
        padding: 10px;
        text-align: center;
    }

    .nav__menus a:hover { color: #b00000 } 

/* menus */

.menus {
    position: relative;
    top: 0; bottom: 0;

    background-color: inherit;
}

    .menus__sub-menu {
        display: none;
        position: absolute;
        top: inherit; bottom: inherit;
        right: 0; left: 0;

        background-color: inherit;
    }

    :target.menus__sub-menu { display: block }

        .menus__sub-menu__head { background-color: rgba(168, 0, 0, 0.3) }
        .menus__sub-menu__head a { color: white } 

/* btn */

.btn, .search-bar__btn {
    outline: 0;
    border: none; 
    cursor: pointer;
    display: block;
}
    
    .btn--primary { 
        background-color: #b00000;
        color: white; 
        padding: 10px;
        border-radius: 2px;
    }

    .btn--facebook, .btn--google {
        border-radius: 2px;
        text-align: center;
        color: white;
        padding: 10px;
        width: 100%;
    }

    .btn--facebook { 
        margin-top: 20px; 
        background-color: #3b5998 
    }

    .btn--google { 
        background-color: #dd4b39;
        margin-top: 30px; 
    }

        .btn--facebook > *, 
        .btn--google > * { padding: 5px }

    .btn--large { font-size: 24px }

/* icon */

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'retro_poste_glyphes' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .icon--ctrl-left:before { content: "\e905" }
    .icon--menu:before { content: "\e900" }
    .icon--ctrl-down:before { content: "\e901" }
    .icon--caret-down:before { content: "\e902" }
    .icon--eye:before { content: "\e903" }
    .icon--time:before { content: "\e904" }
    .icon--user:before { content: "\e971" }
    .icon--search:before { content: "\e986" }
    .icon--ctrl-right:before { content: "\ea50" }
    .icon--filter:before { content: "\ea5b" }
    .icon--google-plus:before { content: "\ea8b" }
    .icon--facebook:before { content: "\ea90" }

/* special_link */

a.special-link { 
    color: #00005e;
    font-weight: bold;
}

/* float */

.float--right { 
    float: right;
    padding: 5px 10px 0 0;  
}

.float--left { 
    float: left;
    padding: 3px 10px 0 0; 
}

/* thumbs */

.thumbs { 
    display: flex; /*Les enfants s'adaptent à leurs contenu.*/
    flex-wrap: wrap; 
}

.lightbox__wrap { margin: 0 }
.lightbox__wrap img { max-width: 100% }

.lightbox__thumb:hover { 
    cursor: pointer;
    transform: scale(1.01); 
    user-select: none;
}

.lightbox__wrap, 
.lightbox__thumb { position: relative; /*Permet l'accès de z-index.*/ }

/*Par defaut ou fermé*/
.lightbox--close.lightbox__wrap { z-index: 0 }
.lightbox--close .lightbox__thumb { z-index: 1 /*On clique sur thumb*/ }
.lightbox--close .lightbox__ghost { opacity: 0 }
.lightbox--close .lightbox__overlay { display: none }
.lightbox--close .lightbox__content { display: block }

/*Lorsque un element est ouvert*/
.lightbox--open.lightbox__wrap { z-index: 1 }
.lightbox--open .lightbox__thumb { z-index: -2 /*On clique sur l'overlay*/ }
.lightbox--open .lightbox__ghost { opacity: 1 }
.lightbox--open .lightbox__overlay { display: block }
.lightbox--open .lightbox__content { display: block }

.lightbox__ghost {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
}

.lightbox__overlay {
    position: fixed;
    top: -100%; bottom: -100%;
    right: 0; left: 0;

    background-color: rgba(0, 0, 0, 0.7);
    cursor: zoom-out;
}

.lightbox__content { 
    padding: 25px;
    background-color: white;
    line-height: 1em;
}

.lightbox__bar {
    position: absolute;
    left: 0; right: 0;
    top: 50%; 
    transform: translateY(-50%);
    line-height: 1em;
}

.lightbox__bar__btn {
    background-color: white;
    padding: 5px;
    cursor: pointer;

    user-select: none;
}

.lightbox__btn-next { float: right }
.lightbox__btn-back { float: left }

/* duplex-block */ 

.duplex-block { margin: 0 }
.duplex-block img { max-width: 100% }

.duplex-block__face { 
    transition: 1s;
    perspective: 300px;
    perspective-origin: center;
}

.duplex-block__back {
    transform: rotateY(180deg);
    opacity: 0;

    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.duplex-block__btn { 
    position: relative;

    bottom: 0;
    right: 0; left: 0;

    cursor: pointer;
    text-align: center;

    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
}

.duplex-block__btn:hover { background-color: rgba(169,17,1,0.5) }

/* footer */ 

.footer {
    text-align: center;
    font-size: 12px;
    margin: 30px 15px;
}