# Redirect incoming URLs to index.php
<IfModule mod_rewrite.c>
	Options -MultiViews

	RewriteBase /
	RewriteEngine On
	RewriteRule ^services/ bootstrap.php?dir=Frontend&app=FrontendApi [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ bootstrap.php?dir=Frontend&app=FrontendApplication [L]
</IfModule>